@import "tailwindcss";

@theme {
  --color-primary: #3278e2;
  --color-background-light: #f6f7f8;
  --color-background-dark: #111721;
  --font-display: "Manrope", sans-serif;
  --color-background: var(--color-background-light);
  --color-foreground: #0f172a;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
}

@keyframes whatsapp-pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(37, 211, 102, 0.7);
  }

  70% {
    transform: scale(1.05);
    box-shadow: 0 0 0 10px rgba(37, 211, 102, 0);
  }

  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(37, 211, 102, 0);
  }
}

.animate-whatsapp-pulse {
  animation: whatsapp-pulse 2s infinite;
}